
{{#each posts as |post| }}
<div class="postDiv">
  <h2>{{post.post_title}}<span>{{post.user.name}}</span></h2>
  <p>{{post.post_body}}</p>
</div>
{{/each}}

{{!-- else if can be used in handlebars to hide and show login and signup forms --}}

